<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="public/assets/images/logo.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="public/assets/images/logo-dark.png" alt="" height="17">
                    </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="public/assets/images/logo-light.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="public/assets/images/logo-light.png" alt="" height="36">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                <i class="mdi mdi-menu"></i>
            </button>

            <div class="d-none d-sm-block ms-2">
                <h4 class="page-title"><%- title %></h4>
            </div>
        </div>

        <!-- Search input -->
        <div class="search-wrap" id="search-wrap">
            <div class="search-bar">
                <input class="search-input form-control" placeholder="<%=translation.Search%>">
                <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                    <i class="mdi mdi-close-circle"></i>
                </a>
            </div>
        </div>

        <div class="d-flex">

            <div class="dropdown d-none d-lg-inline-block me-2">
                <button type="button" class="btn header-item toggle-search noti-icon waves-effect" data-target="#search-wrap">
                    <i class="mdi mdi-magnify"></i>
                </button>
            </div>

            <div class="dropdown d-none d-lg-inline-block me-2">
                <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                    <i class="mdi mdi-fullscreen"></i>
                </button>
            </div>

            <div class="dropdown d-none d-md-block me-2">
                <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if(lang=="en") { %>
                        <span class="font-size-16"> English </span> <img class="ms-2" src="public/assets/images/flags/us.jpg" alt="Header Language" height="16">
                    <% } else if(lang=="ru") { %>
                        <span class="font-size-16"> Russian </span> <img class="ms-2" src="public/assets/images/flags/russia.jpg" alt="Header Language" height="16">
                    <% } else if(lang=="it") { %>
                        <span class="font-size-16"> Italian </span> <img class="ms-2" src="public/assets/images/flags/italy.jpg" alt="Header Language" height="16">
                    <% } else if(lang=="fr") { %>
                        <span class="font-size-16"> French </span> <img class="ms-2" src="public/assets/images/flags/french.jpg" alt="Header Language" height="16">
                    <% } else if(lang=="de") { %>
                        <span class="font-size-16"> German </span> <img class="ms-2" src="public/assets/images/flags/germany.jpg" alt="Header Language" height="16">
                    <% } else if(lang=="es") { %>
                        <span class="font-size-16"> Spanish </span> <img class="ms-2" src="public/assets/images/flags/spain.jpg" alt="Header Language" height="16">
                    <% } else { %>
                        <span class="font-size-16"> English </span> <img class="ms-2" src="public/assets/images/flags/us.jpg" alt="Header Language" height="16">
                    <% } %>
                </button>
                <div class="dropdown-menu dropdown-menu-end">

                    <!-- item-->
                    <a href="?clang=en" class="dropdown-item notify-item">
                        <img src="public/assets/images/flags/us_flag.jpg" alt="user-image" height="12"> <span class="align-middle"> English </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=de" class="dropdown-item notify-item">
                        <img src="public/assets/images/flags/germany_flag.jpg" alt="user-image" height="12"> <span class="align-middle"> German </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=it" class="dropdown-item notify-item">
                        <img src="public/assets/images/flags/italy_flag.jpg" alt="user-image" height="12"> <span class="align-middle"> Italian </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=fr" class="dropdown-item notify-item">
                        <img src="public/assets/images/flags/french_flag.jpg" alt="user-image" height="12"> <span class="align-middle"> French </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=es" class="dropdown-item notify-item">
                        <img src="public/assets/images/flags/spain_flag.jpg" alt="user-image" height="12"> <span class="align-middle"> Spanish </span>
                    </a>

                    <!-- item-->
                    <a href="?clang=ru" class="dropdown-item notify-item">
                        <img src="public/assets/images/flags/russia_flag.jpg" alt="user-image" height="12"> <span class="align-middle"> Russian </span>
                    </a>
                </div>
            </div>

            <div class="dropdown d-inline-block me-2">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ion ion-md-notifications"></i>
                    <span class="badge bg-danger rounded-pill">3</span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="m-0 font-size-16"> <%=translation.Notification_3%> </h5>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar style="max-height: 230px;">
                        <a href="" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-success rounded-circle font-size-16">
                                        <i class="mdi mdi-cart-outline"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mt-0 font-size-15 mb-1"><%=translation.Your_order_is_placed%></h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1"><%=translation.Dummy_text_of_the_printing_and_typesetting_industry%></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-warning rounded-circle font-size-16">
                                        <i class="mdi mdi-message-text-outline"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mt-0 font-size-15 mb-1"><%=translation.New_Message_received%></h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1"><%=translation.You_have_87_unread_messages%></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="text-reset notification-item">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-info rounded-circle font-size-16">
                                        <i class="mdi mdi-glass-cocktail"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mt-0 font-size-15 mb-1"><%=translation.Your_item_is_shipped%></h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1"><%=translation.It_is_a_long_established_fact_that_a_reader_will%></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="p-2 border-top">
                        <div class="d-grid">
                            <a class="btn btn-sm btn-link font-size-14  text-center" href="javascript:void(0)">
                                <%=translation.View_all%>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="public/assets/images/users/avatar-1.jpg" alt="Header Avatar">
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><%=translation.Profile%></a>
                    <a class="dropdown-item" href="#"><%=translation.My_Wallet%></a>
                    <a class="dropdown-item d-block" href="#"><span class="badge bg-success float-end">11</span><%=translation.Settings%></a>
                    <a class="dropdown-item" href="#"><%=translation.Lock_screen%></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="/logout"><%=translation.Logout%></a>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                    <i class="mdi mdi-spin mdi-cog"></i>
                </button>
            </div>

        </div>
    </div>
</header>