<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Line Chart</h4>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">25610</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">56210</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">12485</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>

                    <div id="morris-line-example" class="morris-charts morris-chart-height" dir="ltr"></div>

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Bar Chart</h4>

                    <div class="row text-center mt-4">
                        <div class="col-6">
                            <h5 class="mb-0 font-size-18">6,95,412</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-6">
                            <h5 class="mb-0 font-size-18">1,63,542</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                    </div>

                    <div id="morris-bar-example" class="morris-charts morris-chart-height" dir="ltr"></div>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Area Chart</h4>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">86541</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">2541</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">10203</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>

                    <div id="morris-area-example" class="morris-charts morris-chart-height" dir="ltr"></div>

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Donut Chart</h4>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">3201</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">85120</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">65214</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>
                    

                    <div id="morris-donut-example" class="morris-charts morris-chart-height" dir="ltr"></div>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Area Chart</h4>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">86541</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">2541</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">10203</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>

                    <div id="morris-bar-stacked" class="morris-charts morris-chart-height" dir="ltr"></div>

                </div>
            </div>
        </div> <!-- end col -->

    </div> <!-- end row -->

<%- contentFor('FooterJs') %>
<!--Morris Chart-->
<script src="public/assets/libs/morris.js/morris.min.js"></script>
<script src="public/assets/libs/raphael/raphael.min.js"></script>

<!-- Init js -->
<script src="public/assets/js/pages/morris.init.js"></script>

<%- contentFor('BottomJs') %>
