<%- contentFor('HeaderCss') %>
<!-- Chartist Chart -->
<link href="public/assets/libs/chartist/chartist.min.css" rel="stylesheet">

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Overlapping bars on mobile</h4>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">86541</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">2541</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">102030</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>

                    <div id="overlapping-bars" class="ct-chart ct-golden-section" dir="ltr"></div>
                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Stacked bar chart</h4>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">5241</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">65411</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">51654</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>

                    <div id="stacked-bar-chart" class="ct-chart ct-golden-section" dir="ltr"></div>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Animating a Donut with Svg.animate</h4>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">748949</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">5181</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">101025</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>

                    <div id="animating-donut" class="ct-chart ct-golden-section" dir="ltr"></div>

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Simple pie chart</h4>


                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">48484</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">48652</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">85412</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>

                    <div id="simple-pie" class="ct-chart ct-golden-section simple-pie-chart-chartist" dir="ltr"></div>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Advanced Smil Animations</h4>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">45410</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">4442</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">3201</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>

                    <div id="smil-animations" class="ct-chart ct-golden-section" dir="ltr"></div>

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Simple line chart</h4>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">44242</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">75221</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">65212</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>

                    <div id="simple-line-chart" class="ct-chart ct-golden-section" dir="ltr"></div>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Line Scatter Diagram</h4>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">5677</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">5542</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">12422</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>

                    <div id="scatter-diagram" class="ct-chart ct-golden-section" dir="ltr"></div>

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Line chart with area</h4>

                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">4234</h5>
                            <p class="text-muted text-truncate">Activated</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">64521</h5>
                            <p class="text-muted text-truncate">Pending</p>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-0 font-size-18">94521</h5>
                            <p class="text-muted text-truncate">Deactivated</p>
                        </div>
                    </div>

                    <div id="chart-with-area" class="ct-chart ct-golden-section" dir="ltr"></div>

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

<%- contentFor('FooterJs') %>
 <!-- Plugin Js-->
 <script src="public/assets/libs/chartist/chartist.min.js"></script>
 <script src="public/assets/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js"></script>
 <!-- demo js-->
 <script src="public/assets/js/pages/chartist.init.js"></script>

<%- contentFor('BottomJs') %>
