<%- contentFor('HeaderCss') %>
    <!-- DataTables -->
    <link href="public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
        type="text/css">

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="mini-stat clearfix">
                        <span class="font-size-40 text-primary me-0 float-end"><i class="mdi mdi-cart-outline"></i></span>
                        <div class="mini-stat-info">
                            <h3 class="counter fw-normal mt-0">$36,410</h3>
                        </div>
                        <div class="clearfix"></div>
                        <p class=" mb-0 mt-3 text-muted">Total Orders <span class="float-end"><i class="fa fa-caret-down text-danger me-1"></i>3.25%</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                <div class="mini-stat clearfix">
                    <span class="font-size-40 text-success me-0 float-end"><i class="mdi mdi-currency-usd"></i></span>
                    <div class="mini-stat-info">
                        <h3 class="counter fw-normal mt-0">$29,854</h3>
                    </div>
                    <div class="clearfix"></div>
                    <p class=" mb-0 mt-3 text-muted">Successful Orders <span class="float-end"><i class="fa fa-caret-up text-success me-1"></i>8.51%</span></p>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="mini-stat clearfix">
                        <span class="font-size-40 text-warning me-0 float-end"><i class="mdi mdi-fingerprint"></i></span>
                        <div class="mini-stat-info">
                            <h3 class="counter fw-normal mt-0">$4,512</h3>
                        </div>
                        <div class="clearfix"></div>
                        <p class=" mb-0 mt-3 text-muted">Refunds <span class="float-end"><i class="fa fa-caret-down text-danger me-1"></i>5.52%</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="mini-stat clearfix">
                        <span class="font-size-40 text-danger me-0 float-end"><i class="mdi mdi-rotate-right"></i></span>
                        <div class="mini-stat-info">
                            <h3 class="counter fw-normal mt-0">$2,854</h3>
                        </div>
                        <div class="clearfix"></div>
                        <p class=" mb-0 mt-3 text-muted">Chargebacks <span class="float-end"><i class="fa fa-caret-up text-success me-1"></i>7.10%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="datatable" class="table table-striped dt-responsive nowrap table-vertical" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Amount</th>
                            <th>Order Date</th>
                            <th>Payment</th>
                            <th>Billing Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#98541201</a>
                                </td>
                                <td>$45</td>
                                <td>Jul 20, 2017</td>
                                <td><i class="fab fa-cc-visa text-muted font-size-20"></i> </td>
                                <td>Herbert C. Patton</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#85124562</a>
                                </td>
                                <td>$521</td>
                                <td>Jul 18, 2017</td>
                                <td><i class="fab fa-cc-mastercard text-muted font-size-20"></i> </td>
                                <td>Mathias N. Klausen</td>
                                <td><span class="badge bg-warning">Refund</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#45123698</a>
                                </td>
                                <td>$241</td>
                                <td>July 14, 2017</td>
                                <td><i class="fab fa-cc-paypal text-muted font-size-20"></i> </td>
                                <td>Nikolaj S. Henriksen</td>
                                <td><span class="badge bg-warning">Refund</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#85214796</a>
                                </td>
                                <td>$541.34</td>
                                <td>Jul 15, 2017</td>
                                <td><i class="fab fa-cc-paypal text-muted font-size-20"></i> </td>
                                <td>Kasper S. Jessen</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#23145216</a>
                                </td>
                                <td>$22</td>
                                <td>Jul 11, 2017</td>
                                <td><i class="fab fa-cc-amex text-muted font-size-20"></i> </td>
                                <td>Lasse C. Overgaard</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#12365474</a>
                                </td>
                                <td>$1,541</td>
                                <td>Jul 10, 2017</td>
                                <td><i class="fab fa-cc-mastercard text-muted font-size-20"></i> </td>
                                <td>Johan E. Knudsen</td>
                                <td><span class="badge bg-danger">Chargeback</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#32569874</a>
                                </td>
                                <td>$54</td>
                                <td>Jul 09, 2017</td>
                                <td><i class="fab fa-cc-visa text-muted font-size-20"></i> </td>
                                <td>Herbert C. Patton</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#52147321</a>
                                </td>
                                <td>$845</td>
                                <td>Jul 08, 2017</td>
                                <td><i class="fab fa-cc-discover text-muted font-size-20"></i> </td>
                                <td>Mathias N. Klausen</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#84125369</a>
                                </td>
                                <td>$421</td>
                                <td>Jul 08, 2017</td>
                                <td><i class="fab fa-cc-paypal text-muted font-size-20"></i> </td>
                                <td>Nikolaj S. Henriksen</td>
                                <td><span class="badge bg-danger">Chargeback</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#74512368</a>
                                </td>
                                <td>$652</td>
                                <td>Jul 02, 2017</td>
                                <td><i class="fab fa-cc-mastercard text-muted font-size-20"></i> </td>
                                <td>Lasse C. Overgaard</td>
                                <td><span class="badge bg-danger">Chargeback</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#52140300</a>
                                </td>
                                <td>$45</td>
                                <td>Jul 20, 2017</td>
                                <td><i class="fab fa-cc-visa text-muted font-size-20"></i> </td>
                                <td>Herbert C. Patton</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#85214369</a>
                                </td>
                                <td>$521</td>
                                <td>Jul 18, 2017</td>
                                <td><i class="fab fa-cc-mastercard text-muted font-size-20"></i> </td>
                                <td>Mathias N. Klausen</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#87412456</a>
                                </td>
                                <td>$241</td>
                                <td>July 14, 2017</td>
                                <td><i class="fab fa-cc-paypal text-muted font-size-20"></i> </td>
                                <td>Nikolaj S. Henriksen</td>
                                <td><span class="badge bg-danger">Chargeback</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#99541241</a>
                                </td>
                                <td>$541.34</td>
                                <td>Jul 15, 2017</td>
                                <td><i class="fab fa-cc-paypal text-muted font-size-20"></i> </td>
                                <td>Kasper S. Jessen</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#12354781</a>
                                </td>
                                <td>$22</td>
                                <td>Jul 11, 2017</td>
                                <td><i class="fab fa-cc-amex text-muted font-size-20"></i> </td>
                                <td>Lasse C. Overgaard</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#95412367</a>
                                </td>
                                <td>$1,541</td>
                                <td>Jul 10, 2017</td>
                                <td><i class="fab fa-cc-mastercard text-muted font-size-20"></i> </td>
                                <td>Johan E. Knudsen</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#96254137</a>
                                </td>
                                <td>$54</td>
                                <td>Jul 09, 2017</td>
                                <td><i class="fab fa-cc-visa text-muted font-size-20"></i> </td>
                                <td>Herbert C. Patton</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#50025441</a>
                                </td>
                                <td>$845</td>
                                <td>Jul 08, 2017</td>
                                <td><i class="fab fa-cc-discover text-muted font-size-20"></i> </td>
                                <td>Mathias N. Klausen</td>
                                <td><span class="badge bg-warning">Refund</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#32147851</a>
                                </td>
                                <td>$421</td>
                                <td>Jul 08, 2017</td>
                                <td><i class="fab fa-cc-paypal text-muted font-size-20"></i> </td>
                                <td>Nikolaj S. Henriksen</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#52146321</a>
                                </td>
                                <td>$652</td>
                                <td>Jul 02, 2017</td>
                                <td><i class="fab fa-cc-mastercard text-muted font-size-20"></i> </td>
                                <td>Lasse C. Overgaard</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="fw-bold text-muted">#32147851</a>
                                </td>
                                <td>$421</td>
                                <td>Jul 08, 2017</td>
                                <td><i class="fab fa-cc-paypal text-muted font-size-20"></i> </td>
                                <td>Nikolaj S. Henriksen</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>
                                    <a href="javascript:void(0);" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

<%- contentFor('FooterJs') %>
    <script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    
    <!-- Ecommerce init js -->
    <script src="public/assets/js/pages/ecommerce.init.js"></script> 

<%- contentFor('BottomJs') %>