<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="product-list-box card p-2">
                                <a href="javascript:void(0);">
                                    <img src="public/assets/images/products/1.jpg" class="img-fluid" alt="work-thumbnail">
                                </a>
                                <div class="detail">
                                    <h4 class="font-size-16 mt-2"><a href="" class="text-dark">Riverston Glass Chair</a> </h4>

                                    <a href="#" class="btn btn-success btn-sm me-1">Edit</a>
                                    <a href="#" class="btn btn-secondary btn-sm">Delete</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="product-list-box card p-2">
                                <span class="product-tag">sale</span>
                                <a href="javascript:void(0);">
                                    <img src="public/assets/images/products/2.jpg" class="img-fluid" alt="work-thumbnail">
                                </a>
                                <div class="detail">
                                    <h4 class="font-size-16 mt-2"><a href="" class="text-dark">Shine Company Catalina</a> </h4>

                                    <a href="#" class="btn btn-success btn-sm me-1">Edit</a>
                                    <a href="#" class="btn btn-secondary btn-sm">Delete</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="product-list-box card p-2">
                                <a href="javascript:void(0);">
                                    <img src="public/assets/images/products/3.jpg" class="img-fluid" alt="work-thumbnail">
                                </a>
                                <div class="detail">
                                    <h4 class="font-size-16 mt-2"><a href="" class="text-dark">Trex Outdoor Furniture Cape</a> </h4>

                                    <a href="#" class="btn btn-success btn-sm me-1">Edit</a>
                                    <a href="#" class="btn btn-secondary btn-sm">Delete</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="product-list-box card p-2">
                                <a href="javascript:void(0);">
                                    <img src="public/assets/images/products/4.jpg" class="img-fluid" alt="work-thumbnail">
                                </a>
                                <div class="detail">
                                    <h4 class="font-size-16 mt-2"><a href="" class="text-dark">Riverston Glass Chair</a> </h4>

                                    <a href="#" class="btn btn-success btn-sm me-1">Edit</a>
                                    <a href="#" class="btn btn-secondary btn-sm">Delete</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="product-list-box card p-2">
                                <span class="product-tag bg-primary">Popular</span>
                                <a href="javascript:void(0);">
                                    <img src="public/assets/images/products/5.jpg" class="img-fluid" alt="work-thumbnail">
                                </a>
                                <div class="detail">
                                    <h4 class="font-size-16 mt-2"><a href="" class="text-dark">Trex Outdoor Furniture Cape</a> </h4>

                                    <a href="#" class="btn btn-success btn-sm me-1">Edit</a>
                                    <a href="#" class="btn btn-secondary btn-sm">Delete</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="product-list-box card p-2">
                                <a href="javascript:void(0);">
                                    <img src="public/assets/images/products/6.jpg" class="img-fluid" alt="work-thumbnail">
                                </a>
                                <div class="detail">
                                    <h4 class="font-size-16 mt-2"><a href="" class="text-dark">Oasis Bathroom Teak Corner</a> </h4>

                                    <a href="#" class="btn btn-success btn-sm me-1">Edit</a>
                                    <a href="#" class="btn btn-secondary btn-sm">Delete</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="product-list-box card p-2">
                                <a href="javascript:void(0);">
                                    <img src="public/assets/images/products/7.jpg" class="img-fluid" alt="work-thumbnail">
                                </a>
                                <div class="detail">
                                    <h4 class="font-size-16 mt-2"><a href="" class="text-dark">Riverston Glass Chair</a> </h4>

                                    <a href="#" class="btn btn-success btn-sm me-1">Edit</a>
                                    <a href="#" class="btn btn-secondary btn-sm">Delete</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="product-list-box card p-2">
                                <span class="product-tag bg-pink">75% Off</span>
                                <a href="javascript:void(0);">
                                    <img src="public/assets/images/products/8.jpg" class="img-fluid" alt="work-thumbnail">
                                </a>
                                <div class="detail">
                                    <h4 class="font-size-16 mt-2"><a href="" class="text-dark">Condimentum Posuere</a> </h4>

                                    <a href="#" class="btn btn-success btn-sm me-1">Edit</a>
                                    <a href="#" class="btn btn-secondary btn-sm">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>