<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

    <div class="row text-center">
        <div class="col-lg-3">
            <div class="card plan-card mt-4">
                <div class="card-body">
                    <div class="pt-3 pb-3">
                        <i class="ion ion-md-airplane plan-icon bg-primary h1"></i>
                        <h6 class="text-uppercase text-primary">Starter Pack</h6>
                    </div>
                    <div>
                        <h1 class="plan-price">$19<span class="text-muted ms-2"><sup>Per Month</sup></span></h1>
                        <div class="plan-div-border"></div>
                    </div>
                    <div class="plan-features pb-3 mt-3 pt-3 text-muted">
                        <p>Free Live Support</p>
                        <p>Unlimited User</p>
                        <p>No Time Tracking</p>
                        <p>Free Setup</p>
                        <a href="#" class="btn btn-primary">Sign Up Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card plan-card mt-4">
                <div class="card-body">
                    <div class="pt-3 pb-3">
                        <i class="ion ion-md-trophy plan-icon bg-dark h1 text-light"></i>
                        <h6 class="text-uppercase text-dark">Professional Pack</h6>
                    </div>
                    <div>
                        <h1 class="plan-price">$29<span class="text-muted ms-2"><sup>Per Month</sup></span></h1>
                        <div class="plan-div-border"></div>
                    </div>
                    <div class="plan-features pb-3 mt-3 pt-3 text-muted">
                        <p>Free Live Support</p>
                        <p>Unlimited User</p>
                        <p>No Time Tracking</p>
                        <p>Free Setup</p>
                        <a href="#" class="btn btn-dark">Sign Up Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card plan-card mt-4">
                <div class="card-body">
                    <div class="pt-3 pb-3">
                        <i class="ion ion-ios-umbrella plan-icon bg-pink h1"></i>
                        <h6 class="text-uppercase text-pink">Enterprise Pack</h6>
                    </div>
                    <div>
                        <h1 class="plan-price">$39<span class="text-muted ms-2"><sup>Per Month</sup></span></h1>
                        <div class="plan-div-border"></div>
                    </div>
                    <div class="plan-features pb-3 mt-3 pt-3 text-muted">
                        <p>Free Live Support</p>
                        <p>Unlimited User</p>
                        <p>No Time Tracking</p>
                        <p>Free Setup</p>
                        <a href="#" class="btn btn-pink">Sign Up Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card plan-card mt-4">
                <div class="card-body">
                    <div class="pt-3 pb-3">
                        <i class="ion ion-md-cube plan-icon bg-teal h1"></i>
                        <h6 class="text-uppercase text-teal">Unlimited Pack</h6>
                    </div>
                    <div>
                        <h1 class="plan-price">$49<span class="text-muted ms-2"><sup>Per Month</sup></span></h1>
                        <div class="plan-div-border"></div>
                    </div>
                    <div class="plan-features pb-3 mt-3 pt-3 text-muted">
                        <p>Free Live Support</p>
                        <p>Unlimited User</p>
                        <p>No Time Tracking</p>
                        <p>Free Setup</p>
                        <a href="#" class="btn btn-teal">Sign Up Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>