<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex">
                        <img class="me-3 rounded-circle avatar-lg" src="public/assets/images/users/avatar-2.jpg" alt="Generic placeholder image">
                        <div>
                            <h5 class="mt-2 font-size-18">Herbert C. Patton</h5>
                            <p class="text-muted mb-0">pauline@admiria.com</p>
                            <p class="text-muted font-size-14 font-weight-semibold">Creative Director</p>
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="col-6">
                            <h5 class="mb-0">235</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                        <div class="col-6">
                            <h5 class="mb-0">9512</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                    </div>

                    <div id="sparkline1" class="text-center"></div>

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex">
                        <img class="me-3 rounded-circle avatar-lg" src="public/assets/images/users/avatar-3.jpg" alt="Generic placeholder image">
                        <div>
                            <h5 class="mt-2 font-size-18">Mathias N. Klausen</h5>
                            <p class="text-muted mb-0">pauline@admiria.com</p>
                            <p class="text-muted font-size-14 font-weight-semibold">Creative Director</p>
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="col-6">
                            <h5 class="mb-0">9652</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                        <div class="col-6">
                            <h5 class="mb-0">7451</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                    </div>

                    <div id="sparkline2" class="text-center"></div>

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex">
                        <img class="me-3 rounded-circle avatar-lg" src="public/assets/images/users/avatar-4.jpg" alt="Generic placeholder image">
                        <div>
                            <h5 class="mt-2 font-size-18">Nikolaj S. Henriksen</h5>
                            <p class="text-muted mb-0">pauline@admiria.com</p>
                            <p class="text-muted font-size-14 font-weight-semibold">Creative Director</p>
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="col-6">
                            <h5 class="mb-0">362</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                        <div class="col-6">
                            <h5 class="mb-0">151</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                    </div>

                    <div id="sparkline3" class="text-center"></div>

                </div>
            </div>
        </div> <!-- end col -->

    </div> <!-- end row -->

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex">
                        <img class="me-3 rounded-circle avatar-lg" src="public/assets/images/users/avatar-5.jpg" alt="Generic placeholder image">
                        <div>
                            <h5 class="mt-2 font-size-18">Kasper S. Jessen</h5>
                            <p class="text-muted mb-0">pauline@admiria.com</p>
                            <p class="text-muted font-size-14 font-weight-semibold">Creative Director</p>
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="col-6">
                            <h5 class="mb-0">10205</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                        <div class="col-6">
                            <h5 class="mb-0">3201</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                    </div>

                    <div id="sparkline4" class="text-center"></div>

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex">
                        <img class="me-3 rounded-circle avatar-lg" src="public/assets/images/users/avatar-6.jpg" alt="Generic placeholder image">
                        <div>
                            <h5 class="mt-2 font-size-18">Lasse C. Overgaard</h5>
                            <p class="text-muted mb-0">pauline@admiria.com</p>
                            <p class="text-muted font-size-14 font-weight-semibold">Creative Director</p>
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="col-6">
                            <h5 class="mb-0">1254</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                        <div class="col-6">
                            <h5 class="mb-0">3625</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                    </div>

                    <div id="sparkline5" class="text-center"></div>

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex">
                        <img class="me-3 rounded-circle avatar-lg" src="public/assets/images/users/avatar-1.jpg" alt="Generic placeholder image">
                        <div>
                            <h5 class="mt-2 font-size-18">Johan E. Knudsen</h5>
                            <p class="text-muted mb-0">pauline@admiria.com</p>
                            <p class="text-muted font-size-14 font-weight-semibold">Creative Director</p>
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        <div class="col-6">
                            <h5 class="mb-0">2562</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                        <div class="col-6">
                            <h5 class="mb-0">8451</h5>
                            <p class="text-muted font-size-14">Activated</p>
                        </div>
                    </div>

                    <div id="sparkline6" class="text-center"></div>

                </div>
            </div>
        </div> <!-- end col -->

    </div> <!-- end row -->

<%- contentFor('FooterJs') %>
    <script src="public/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

    <script src="public/assets/js/pages/directory.init.js"></script>

<%- contentFor('BottomJs') %>
