<%- contentFor('HeaderCss') %> <%- contentFor('breadcrumb') %> <%-
contentFor('body') %>

<div class="leads_header d-flex justify-content-between align-items-center">
    <div class="lead_left">
        <h4 class="fw-light">Sales Pipeline</h4>
    </div>
    <div class="lead_right">
        <button
            class="btn btn-sm"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Click to copy link"
        >
            <i class="fas fa-file-import"></i> &nbsp; Share Links
        </button>
    </div>
</div>
<hr />
<div class="sort d-flex justify-content-between">
    <div>
        <div class="btn-group">
            <button
                class="btn dropdown-toggle rounded-0"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="border-right: 1px solid rgba(0, 0, 0, 0.1)"
            >
                <span style="font-weight: bold"
                    ><i class="far fa-calendar-check"></i>&nbsp; Expected: </span
                >All Time &nbsp;
                <i class="fas fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu px-3">
                <li>All time</li>
            </ul>
        </div>
        <div class="btn-group">
            <button
                class="btn dropdown-toggle rounded-0"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <i class="fas fa-bezier-curve"></i>&nbsp; Sales &nbsp;
                <i class="fas fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu px-3">
                <li>Sale</li>
            </ul>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <div class="dropdown">
            <button
                class="btn rounded-0 dropdown-toggle"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="border-left: 1px solid rgba(0, 0, 0, 0.1)"
            >
                <i class="fas fa-building"></i>&nbsp; All Leads &nbsp;
                <i class="fas fa-caret-down"></i>
            </button>
            <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownMenuButton1"
            >
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button
                class="btn rounded-0 dropdown-toggle"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="border-left: 1px solid rgba(0, 0, 0, 0.1)"
            >
                <i class="fas fa-user-circle"></i>&nbsp; All Users &nbsp;
                <i class="fas fa-caret-down"></i>
            </button>
            <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownMenuButton1"
            >
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button
                class="btn rounded-0 dropdown-toggle"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="border-left: 1px solid rgba(0, 0, 0, 0.1)"
            >
                <i class="fas fa-sort-amount-down"></i>&nbsp; Actual Value
                (Annualized) &nbsp;
                <i class="fas fa-caret-down"></i>
            </button>
            <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownMenuButton1"
            >
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
            </ul>
        </div>

        <div class="dropdown">
            <button
                class="btn rounded-0 dropdown-toggle"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="border-left: 1px solid rgba(0, 0, 0, 0.1)"
            >
                <i class="fas fa-exchange-alt"></i>&nbsp; Options &nbsp;
                <i class="fas fa-caret-down"></i>
            </button>
            <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownMenuButton2"
            >
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr />
<table class="table table-bordered">
    <thead style="background-color: #ddd; font-size: 14px; font-weight: 600">
        <tr>
            <th>
                <button
                    class="btn btn-sm bg-warning text-uppercase p-1"
                    style="
                        color: rgba(0, 0, 0, 0.75);
                        font-weight: bold;
                        font-size: 11px;
                        line-height: 1.45454545;
                    "
                >
                    Demo Completed
                </button>
                <p
                    class="text-uppercase mb-0"
                    style="
                        font-size: 11px;
                        margin-top: 4px;
                        color: #464a55;
                        letter-spacing: 0.5px;
                    "
                >
                    1 Opportunity
                </p>
            </th>
            <th>
                <button
                    class="btn btn-sm bg-warning text-uppercase p-1"
                    style="
                        color: rgba(0, 0, 0, 0.75);
                        font-weight: bold;
                        font-size: 11px;
                        line-height: 1.45454545;
                    "
                >
                    Proposal Sent
                </button>
                <p
                    class="text-uppercase mb-0"
                    style="
                        font-size: 11px;
                        margin-top: 4px;
                        color: #464a55;
                        letter-spacing: 0.5px;
                    "
                >
                    1 Opportunity
                </p>
            </th>
            <th>
                <button
                    class="btn btn-sm bg-warning text-uppercase p-1"
                    style="
                        color: rgba(0, 0, 0, 0.75);
                        font-weight: bold;
                        font-size: 11px;
                        line-height: 1.45454545;
                    "
                >
                    Contract Sent
                </button>
                <p
                    class="text-uppercase mb-0"
                    style="
                        font-size: 11px;
                        margin-top: 4px;
                        color: #464a55;
                        letter-spacing: 0.5px;
                    "
                >
                    1 Opportunity
                </p>
            </th>
        </tr>
    </thead>

    <tr>
        <td>
            <div class="d-flex justify-content-between align-items-center">
                <p
                    style="
                        font-size: 10px;
                        color: #6b6e77;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 0;
                    "
                >
                    Annualized Value
                </p>
                <hr
                    style="
                        flex: 1 0 auto;
                        margin: 0 8px;
                        border-top: 1px solid rgba(0, 0, 0, 0.05);
                    "
                />
                <span style="text-align: right; font-size: 13px">$3000</span>
            </div>
        </td>
        <td>
            <div class="d-flex justify-content-between align-items-center">
                <p
                    style="
                        font-size: 10px;
                        color: #6b6e77;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 0;
                    "
                >
                    Annualized Value
                </p>
                <hr
                    style="
                        flex: 1 0 auto;
                        margin: 0 8px;
                        border-top: 1px solid rgba(0, 0, 0, 0.05);
                    "
                />
                <span style="text-align: right; font-size: 13px">$3000</span>
            </div>
        </td>
        <td>
            <div class="d-flex justify-content-between align-items-center">
                <p
                    style="
                        font-size: 10px;
                        color: #6b6e77;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 0;
                    "
                >
                    Annualized Value
                </p>
                <hr
                    style="
                        flex: 1 0 auto;
                        margin: 0 8px;
                        border-top: 1px solid rgba(0, 0, 0, 0.05);
                    "
                />
                <span style="text-align: right; font-size: 13px">$3000</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="leads_card bg-white">
                <h5
                    class="p-3"
                    style="color: #3274a6; border-bottom: 1px dashed #efefef"
                >
                    Bluth Company (Example Lead)
                </h5>
                <div class="lead_small_detail d-flex align-items-center">
                    <div class="lead_pic">
                        <img
                            src="https://picsum.photos/50/50"
                            alt=""
                            class="rounded-circle m-2"
                        />
                    </div>
                    <div class="lead_info ms-2">
                        <h6 class="m-0 fw-bold">$3000</h6>
                        <span>75% on 7/14/2021</span>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="leads_card bg-white">
                <h5
                    class="p-3"
                    style="color: #3274a6; border-bottom: 1px dashed #efefef"
                >
                    Bluth Company (Example Lead)
                </h5>
                <div class="lead_small_detail d-flex align-items-center">
                    <div class="lead_pic">
                        <img
                            src="https://picsum.photos/50/50"
                            alt=""
                            class="rounded-circle m-2"
                        />
                    </div>
                    <div class="lead_info ms-2">
                        <h6 class="m-0 fw-bold">$3000</h6>
                        <span>75% on 7/14/2021</span>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="leads_card bg-white">
                <h5
                    class="p-3"
                    style="color: #3274a6; border-bottom: 1px dashed #efefef"
                >
                    Bluth Company (Example Lead)
                </h5>
                <div class="lead_small_detail d-flex align-items-center">
                    <div class="lead_pic">
                        <img
                            src="https://picsum.photos/50/50"
                            alt=""
                            class="rounded-circle m-2"
                        />
                    </div>
                    <div class="lead_info ms-2">
                        <h6 class="m-0 fw-bold">$3000</h6>
                        <span>75% on 7/14/2021</span>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

<%- contentFor('FooterJs') %>
<script src="public/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

<script src="public/assets/js/pages/directory.init.js"></script>

<%- contentFor('BottomJs') %>
