<%- contentFor('HeaderCss') %>
    <%- contentFor('breadcrumb') %>
        <%- contentFor('body') %>

            <div class="leads_header d-flex justify-content-between align-items-center">
                <div class="lead_left">
                    <h4 class="fw-light">All leads</h4>
                    <p style="color: #707070">4 result</p>
                </div>
                <div class="lead_right">
                    <div class="btn-group me-1">
                        <button class="btn btn-sm" type="button" style="border: 1px solid rgba(0, 0, 0, 0.2)">
                            <i class="fas fa-phone-alt"></i> &nbsp; Call
                        </button>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-sm"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            style="border: 1px solid rgba(0, 0, 0, 0.2)">
                            <i class="fas fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end px-3">
                            <li><i class="fas fa-phone-alt"></i>&nbsp; Bulk Call</li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-sm" type="button" style="border: 1px solid rgba(0, 0, 0, 0.2)"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Bulk email these Contacts...">
                            <i class="fas fa-envelope"></i> &nbsp; <Email>
                        </button>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split btn-sm"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            style="border: 1px solid rgba(0, 0, 0, 0.2)">
                            <i class="fas fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end px-3">
                            <li><i class="fas fa-envelope"></i>&nbsp; Bulk Email</li>
                        </ul>
                    </div>

                    <div class="btn-group" data-bs-toggle="tooltip" data-bs-placement="top" title="More">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end px-3">
                            <li>more</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <div class="sort d-flex justify-content-end">
                <button class="btn rounded-0" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
                    <i class="fas fa-compress-arrows-alt"></i>&nbsp; Narrow Your Results
                </button>

                <div class="dropdown">
                    <button class="btn rounded-0 dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false" style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
                        <i class="fas fa-sort-amount-down"></i>&nbsp; Sort &nbsp;
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn rounded-0 dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-columns"></i>&nbsp;
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <hr />

            <table id="leadSummary" class="table table-bordered table-hover bg-white">
                <thead style="
            border-bottom: 1px solid red !important;
            background-color: #ddd;
            font-size: 14px;
            font-weight: 500;
        ">
                    <tr>
                        <th>Company</th>
                        <th><i class="fas fa-envelope"></i></th>
                        <th><i class="fas fa-phone-alt"></i></th>
                        <th>Contacts</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr></tr>
                    <tr>
                        <td colspan="100%">
                            <div class="spinner-3"></div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <%- contentFor('FooterJs') %>
                <script src="public/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

                <script src="public/assets/js/pages/directory.init.js"></script>

                <%- contentFor('BottomJs') %>
                    <script>
                        $(() => {

                            $.ajax({
                                type: "GET",
                                url: "http://localhost:8000/api/getLeadSummary",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (response) {
                                    // console.log(response);
                                    let newRows;
                                    $.each(response.data, function (k, v) {
                                        newRows +=
                                            '<tr>' +
                                            '<td>' + v.name + '</td>' +
                                            '<td> <i class="fas fa-envelope"> </td>' +
                                            '<td> <i class="fas fa-phone-alt"> </td>' +
                                            '<td>' + v.contacts_summary + '</td>' +
                                            '<td>' + v.status_label + '</td>' +
                                            '</tr>';
                                    })
                                    removeLoader();
                                    $('#leadSummary').append(newRows);
                                },
                                failure: function (response) {
                                    console.log(response.responseText);
                                },
                                error: function (response) {
                                    if (response.statusText === 'error') {
                                        $('body').append('<h2 class="text-center text-danger">Server Error!</h2>');
                                    }
                                    $('#leadSummary').hide();
                                }
                            });


                            function removeLoader() {
                                $('#leadSummary tr:nth-child(2)').fadeOut(500, function () {
                                    $(this).remove();
                                });
                            }
                        });
                    </script>